*{
    font-family: 'Tahoma';
    font-size: 12pt;
}
.container {
    margin: auto;
    width: 500px;
}
.heading {
    color: white;
    background-color: #3eb4c1;
    padding: 3px;
}
.heading1 {
    color: white;
    background-color: red;
    padding: 3px;
}
.name {
    color: white;
    padding-left: 10px;
    font-size: 16pt;
}
.style1 {
    box-shadow: 0px 0px 8px #555;
    margin-top: 10px;
    border-radius: 2px;
    height: 100px;
    /*border: 1px solid #555;*/
}
.p {
    padding-left: 8px;
    font-weight: bold;
    padding-top: 10px;
    font-size: 14pt;
}
.p1 {
    padding-left: 8px;
    float: left;
}
.p2 {
    padding-right: 8px;
    float: right;
    color: green;
}
.cdiv {
    width: 100%;
}
.p3 {
    color: white;
    text-align: center;
}